<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello mix-it</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="style/style.css"/>

    <script src="node_modules/angular/angular.js"></script>
    <script src="js/hello-mixit.controller.js"></script>

</head>
<body ng-app="hello-mixit" ng-controller="HelloMixitCtrl as hello">

<div class="content">
    <button type="button" ng-click="hello.sayHello()" title="Say hello to mix-it">Say hello !</button>
    <h1 ng-if="hello.greetings">{{ hello.greetings }}</h1>
</div>

</body>
</html>
